@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.dancing-script{
    font-family: 'Dancing Script',cursive;
    font-optical-sizing: auto;
    font-weight: 700;
}
.songs-list::-webkit-scrollbar-thumb{
    border-radius: 20px;
}
.songs-list::-webkit-scrollbar {
    width: 10px;
}
.songs-list::-webkit-scrollbar-track {
    @apply dark:bg-zinc-700 bg-zinc-300 rounded-full ;
}
.songs-list::-webkit-scrollbar-thumb {
    @apply bg-zinc-100 dark:bg-zinc-500 ; 
}
  
  /* Handle on hover */
.songs-list::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-50 dark:bg-zinc-400;
}